.page-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}

.intro {
  grid-area: header;
}

.participation {
  grid-area: sidebar;
}
/* .explanation .   .benefits .requirements {
  grid-area: main;
} */

footer {
  grid-area: footer;
}

header {
  background-image: url("../images/header-css.png");
  padding: 100px;
  text-align: center;
}
h1 {
  color: wheat;
  width: 200x;
}
h2 {
  color: wheat;
}
